<div class="jumbotron jumbotron-fluid bg-danger">
  <div class="container text-white">
    <h1 class="display-2">Tablet</h1>
    <h1 class="display-4">You are running on a tablet.</h1>
  </div>
</div>
