<div class="jumbotron jumbotron-fluid bg-success">
  <div class="container text-white">
    <h1 class="display-2">Phone</h1>
    <h1 class="display-4">You are running on a smart phone</h1>
  </div>
</div>
