<div class="jumbotron jumbotron-fluid bg-warning">
  <div class="container text-dark">
    <h1 class="display-2">Desktop</h1>
    <h1 class="display-4">All other users get redirected here.</h1>
  </div>
</div>
